/* Final Video Styles */
root{
  color: transparent;
}

.flexbox1 {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 510px;
    max-height: auto;
    padding: 13px;
    min-height: 1300px;
    align-items: center;
    justify-content: space-evenly;
    background-color: azure;
    border: 3px solid green;
}
  .grid1, .grid2, .grid3 {
    display: grid;
    grid-gap: 3px;
    background-color: #c8d4df;
    max-width: 420px;
    height: 300px;
    border: 2px solid blue;
    grid-template-columns: 80px 100px 40px 80px;
    grid-template-rows: 2x(150px);
    grid-template-areas:
    "a1 b1 c1 d1"
    "e1 f1 g1 h1";
  }
  
  .grid1{  
     background-color: rgb(236, 132, 132);
     order: 1;
  }
  .grid2{
    background-color: rgb(219, 202, 202);

    order: 1;
 }
 .grid3{
  background-color: lightblue;

  order: 3;
}

  div{
    border: 1px solid black;
  }

  #x1, #y1, #z1{        
    grid-area: d1; 
  }


